@model List<Banking.FDTransaction>

<div class="pastel-card">
   

    @if (!Model.Any())
    {
        <div class="alert alert-info m-3">No FD transactions found.</div>
    }
    else
    {
        <table class="pastel-table">
            <thead>
                <tr>
                    <th>Transaction ID</th>
                    <th>Type</th>
                    <th>Amount Credited</th>
                    <th>Close Date</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var txn in Model)
                {
                    <tr>
                        <td>@txn.TransactionId</td>
                        <td>@txn.TransactionType</td>
                        <td>₹@txn.Amount</td>
                        <td>@(txn.TransactionDate.HasValue ? txn.TransactionDate.Value.ToShortDateString() : "N/A")</td>
                    </tr>
                }
            </tbody>
        </table>
    }
</div>
