@{
    ViewBag.Title = "Loan Account";
    Layout = "~/Shared/_LayoutPage1.cshtml";
}

@{
    ViewBag.Title = "LoanAccountPartial";
}

<h2>LoanAccountPartial</h2>



<h2>Loan Account Page</h2>

@Html.Partial("_LoanAccountPartial")
